#textblock {
  background-color: #0b0b3a;
  height: 100vh;
}

#textblock-container {
  width: 40%;
  margin: 0 auto;
  padding-top: 70px;
}

#textblock-title {
  color: #ffaf1b;
  font-size: 35px;
  font-weight: 600;
  font-family: "Helvetica Neue";
}

#textblock-content {
  color: #ffaf1b;
  font-size: 20px;
}

#textblock-footer {
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 400;
  position: fixed;
  width: 100%;
  bottom: 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

}

#textblock-devsense {
  text-decoration: none;
  color: #ffaf1b;
  font-size: 15px;
  font-weight: 600;
}

.animation,
.animation_layer {
  height: 1000px;
}

.animation {
  display: block;
  position: relative;
  z-index: 10;
}

.animation_layer {
  background-position: bottom center;
  background-size: auto 860px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
}

.animation_layer.parallax {
  position: fixed;
}

#backgroundcolor {
  background: rgb(82, 72, 142);
}

#moon {
  background-image: url(./assets/1.png);
}

#cloud {
  background-image: url(./assets/2.png);
}

#logo {
  height: 140px;
  margin-top: 480px;
  margin-left: 390px;
}

.imageWL {
  height: 200px;
  width: 50%;
}

#mountain {
  background-image: url(./assets/3.png);
}

#man {
  background-image: url(./assets/4.png);
}

@media (max-width: 776px) {
  #logo {
    margin-left: 160px;
  }

  .imageWL {
    height: 140px;
  }

  #textblock-content .text_change {
    display: none;
  }

}

@media (min-width: 777px) and (max-width: 1024px) {
  #logo {
    margin-left: 200px;
  }

  .imageWL {
    height: 140px;
    margin-left: 20px;
  }
}